<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2025 Studio Raz. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SR_LlmsTxt::config" title="LlmsTxt" translate="title" sortOrder="10000"/>
            </resource>
        </resources>
    </acl>
</config>
